body {
	margin-top: 30px; /* 50px is the height of the navbar - change this if the navbarn height changes */
  	background-image:url('../img/bg6.png'); /*Rishi*/
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}
